<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}
<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/geohash"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-polylinedecorator/1.1.0/leaflet.polylineDecorator.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/protobufjs@latest/dist/protobuf.min.js"></script>
  <style>
    #map {
      height: 100vh;
      width: 100vw;
    }
    .rounded-box {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    th, td {
        padding: 5px;
    }
  </style>
</head>

<body>
    <div style="position: absolute; bottom: 100px; left: 10px; z-index: 1000;">
        <div id="infoBox" class="rounded-box">
        </div>
        <div class="downloadButtonsContainer" >
            {% if site.playstore_link %}
                <a class="playStoreLink" href="{{site.playstore_link}}"><img class="playStore" src="/assets/playstore.png"></a>
            {% endif %}
            {% if site.appstore_link %}
                <a class="appStoreLink" href="{{site.appstore_link}}"><img class="appStore" src="/assets/appstore.png"></a>                        </div>
            {% endif %}
        </div>
    </div>
    <div id="map"></div>
    <script>
const protoSchema = `
syntax = "proto3";

package giggossipframes;
option csharp_namespace = "GigGossip";

message UUID
{
  bytes Value = 1;
}

message Timestamp
{
  int64 Value = 1;
}

message URI
{
    string Value = 1;
}

message Signature
{
    bytes Value = 1;
}

message PublicKey
{
    bytes Value = 1;
}

message PaymentRequest
{
    string Value = 1;
}

message PaymentHash
{
    bytes Value = 1;
}

message Satoshis
{
    int64 Value = 1;
}

message EncryptedData
{
    bytes Value = 1;
}

message CryptographicHash
{
    bytes Value = 1;
}

message AuthTokenHeader
{
  UUID TokenId = 1;
  PublicKey PublicKey = 2;
  Timestamp Timestamp = 3;
}

/// <summary>
/// A struct to represent a timed GUID token with its signature. Used in API calls.
/// </summary>
message AuthToken
{
    AuthTokenHeader Header = 1;
    Signature Signature = 2;
}

message CertificateProperty
{
    string Name = 1;
    bytes Value = 2;
}

message CertificateHeader
{
    /// <summary>
    /// The Uri of the Certification Authority service
    /// </summary>
    URI AuthorityUri = 1;

    /// <summary>
    /// Collection of certified properties of the Subject
    /// </summary>
    repeated CertificateProperty Properties = 2;

    /// <summary>
    /// Date and Time before which the Certificate will no longer be valid
    /// </summary>
    Timestamp NotValidAfter = 3;

    /// <summary>
    /// Date and Time before which the Certificate is not yet valid
    /// </summary>
    Timestamp NotValidBefore = 4;
}

/// <summary>
/// Represents a layer in the Onion routing protocol, which contains a public key and encrypted data core.
/// </summary>
message OnionLayer 
{
    /// <summary>
    /// Gets or sets the public key associated with this layer of the onion route.
    /// </summary>
    PublicKey PublicKey = 1;

    /// <summary>
    /// Gets or sets the encrypted core of the onion layer.
    /// </summary>
    EncryptedData EncryptedOnionLayer = 2;
}


/// <summary>
/// An onion route is used in the onion routing protocol to establish an anonymous communication channel. 
/// Each "onion" in the route is peeled back one at a time by each gig gossip node in the network. 
/// </summary>
message Onion
{
    /// <summary>
    /// An array of bytes representing the "Onion", the data passed through the route.
    /// </summary>
    EncryptedData EncryptedOnionLayer = 1;
}

/// <summary>
/// Represents a broadcast frame in proof of work (POW) which contains the broadcast payload and the work proof.
/// </summary>
message BroadcastFrame
{
    /// <summary>
    /// Gets or sets the signed payload for the request. This contains the necessary data for processing the request.
    /// </summary>
    JobRequest JobRequest = 1;

    /// <summary>
    /// Gets or sets the Onion Route used for back-routing of the message.
    /// </summary>
    Onion BackwardOnion = 2;
}

message CancelBroadcastFrame
{
    CancelJobRequest CancelJobRequest = 1;
}

message CancelJobRequestHeader
{
    CertificateHeader Header = 1;
    UUID JobRequestId = 2;
    Timestamp Timestamp = 3;
}

message CancelJobRequest
{
    CancelJobRequestHeader Header = 1;
    Signature Signature = 2;
}

message BroadcastRequest
{
    JobRequest JobRequest = 1;
    CancelJobRequest CancelJobRequest = 2;
}

/// <summary>
/// Represents a reply frame that contains encrypted payload, settlement promise, onion route and network PaymentRequest.
/// </summary>
message ReplyFrame
{
    /// <summary>
    /// Gets or sets the encrypted reply payload.
    /// </summary>
    EncryptedData EncryptedJobReply = 1;

    /// <summary>
    /// Gets or sets the signed settlement promise.
    /// </summary>
    /// <see cref="SettlementPromise"/>
    SettlementPromise SettlementPromise = 2;

    /// <summary>
    /// Gets or sets the forward onion route.
    /// </summary>
    /// <see cref="OnionRoute"/>
    Onion ForwardOnion = 3;

    /// <summary>
    /// Gets or sets the network PaymentRequest.
    /// </summary>
    PaymentRequest NetworkPaymentRequest = 4;
}


message JobReplyHeader
{
    CertificateHeader Header = 1;
    UUID JobReplyId = 2;
    /// <summary>
    /// Gets or sets the signed request payload.
    /// </summary>
    JobRequest JobRequest = 3;

    /// <summary>
    /// Gets or sets the encrypted reply message.
    /// </summary>
    EncryptedData EncryptedReply = 4;

    /// <summary>
    /// Gets or sets the reply PaymentRequest.
    /// </summary>
    PaymentRequest JobPaymentRequest = 5;

    /// <summary>
    /// Gets or sets creation timestamp of the payload.
    /// </summary>
    Timestamp Timestamp = 6;
}

/// <summary>
/// Represents the payload of a reply message.
/// </summary>
message JobReply 
{
    JobReplyHeader Header = 1;
    Signature Signature = 2;
}

message Reply
{
    oneof Value
    {
        bytes Unknown = 1;
        RideShareReply RideShare = 2;
        BlockDeliveryReply BlockDelivery = 3;
    }
}

message JobTopic 
{
    string Country = 1;
    string Geohash = 2;
    string Currency = 3;
    int64 SuggestedPrice = 4;

    oneof Value
    {
        bytes Unknown = 5;
        RideShareTopic RideShare = 6;
        BlockDeliveryTopic BlockDelivery = 7;
    }
}

message JobRequestHeader
{
    CertificateHeader Header = 1;
    UUID JobRequestId = 2;
    /// <summary>
    /// Gets or sets creation timestamp of the payload.
    /// </summary>
    Timestamp Timestamp = 3;

    /// <summary>
    /// Gets or sets the topic of the payload.
    /// </summary>
    JobTopic Topic = 4;
}

/// <summary>
/// Represents the payload of a request message.
/// </summary>
message JobRequest 
{
    JobRequestHeader Header = 1;
    Signature Signature = 2;
}

message SettlementPromiseHeader
{
    
    /// <summary>
    /// Gets or sets the service URI of the Settler.
    /// </summary>

    URI MySecurityCenterUri = 1;

    /// <summary>
    /// Gets or sets the service URI of the Requester Settler.
    /// </summary>
    URI TheirSecurityCenterUri = 2;

    /// <summary>
    /// Gets or sets the network payment hash.
    /// </summary>
    PaymentHash NetworkPaymentHash = 3;

    CryptographicHash HashOfEncryptedJobReply = 4;

    /// <summary>
    /// Gets or sets the reply payment amount.
    /// </summary>
    Satoshis ReplyPaymentAmount = 5;
}

/// <summary>
/// Represents a settlement promise.
/// </summary>
message SettlementPromise 
{
    SettlementPromiseHeader Header = 1;
    Signature Signature = 2;
}

message SettlementTrust 
{
    /// <summary>
    /// Gets or sets the settlement promise.
    /// </summary>
    /// <see cref="SettlementPromise"/>
    SettlementPromise SettlementPromise = 1;

    /// <summary>
    /// Gets or sets the network PaymentRequest.
    /// </summary>
    PaymentRequest NetworkPaymentRequest = 2;

    /// <summary>
    /// Gets or sets the encrypted reply payload.
    /// </summary>
    EncryptedData EncryptedJobReply = 3;

    UUID JobReplyId = 4;
}

message Frame
{
    oneof Value
    {
        BroadcastFrame Broadcast = 1;
        CancelBroadcastFrame CancelBroadcast = 2;
        ReplyFrame Reply = 3;
        LocationFrame Location = 4;
    }
}

message GeoLocation 
{
    double Latitude = 1;
    double Longitude = 2;
}

message GeoCircle
{
    GeoLocation Center = 1;
    double Radius = 2;
}

message GeoBox
{
    GeoLocation TopLeft = 1;
    GeoLocation BottomRight = 2;
}

message GeoShape
{
    oneof Value
    {
        string Geohash = 1;
        GeoLocation Location = 2;
        GeoCircle Circle = 3;
        GeoBox Box = 4;
        string EncodedPolyline = 5;
    }
}

// RideShare

message RideShareTopic
{
    string FromGeohash = 1;
    string ToGeohash = 2;
    Timestamp PickupAfter = 3;
    Timestamp PickupBefore = 4;
    double Distance = 5;
}

message RideShareReply
{
    PublicKey PublicKey = 1;
    repeated URI Relays = 2;
    string Secret = 3;
    GeoLocation Location = 4;
    string Message = 5;
}


// BlockDelivery

message BlockDeliveryTopic
{
    string SenderName = 1;
    string BlockDescription = 2;
    GeoLocation FromLocation = 3;
    string FromAddress = 4;
    GeoShape ToShape = 5;
    Timestamp PickupAfter = 6;
    Timestamp PickupBefore = 7;
    Timestamp FinishBefore = 8;
}

message BlockDeliveryReply
{
    PublicKey PublicKey = 1;
    repeated URI Relays = 2;
    string Secret = 3;
    GeoLocation Location = 4;
    string Message = 5;
}

// Comms

enum RideState
{
    Started = 0;
    GoingFor = 1;
    WaitingFor = 2;
    PickedUp = 3;
    GoingWith = 4;
    Completed = 5;
    Disputed = 6;
    Failed = 7;
    Cancelled = 8;
    Scheduled = 9;
}

message LocationFrame
{
    UUID JobRequestId = 1;
    UUID JobReplyId = 2;
    URI SecurityCenterUri = 3;
    string Secret = 4;
    GeoLocation FromLocation = 5;
    GeoLocation ToLocation = 6;
    string FromAddress = 7;
    string ToAddress = 8;
    GeoLocation Location = 9;
    string Message = 10;
    RideState RideStatus = 11;
}`;
  protobuf.parse(protoSchema, { keepCase: true }).root.resolveAll();
  const Message = protobuf.Root.fromJSON(protobuf.parse(protoSchema).root).lookupType("JobRequest");
  let params = new URLSearchParams(location.search);
  let url = ("https://giggossip.blob.core.windows.net/gohyper/"+params);
  console.log(url.slice(0, -1));
  fetch(url.slice(0, -1))
          .then(response => response.arrayBuffer())
          .then(arrayBuffer => {
            const buffer = new Uint8Array(arrayBuffer);
            const message = Message.decode(buffer);
            return message.Header.Topic;
          })
          .then(topic => {
            if (topic.hasOwnProperty('RideShare')) {
                const geohashPunkt1 = topic.RideShare.FromGeohash;
                const geohashPunkt2 = topic.RideShare.ToGeohash;
                const coordPunkt1 = decodeGeohash(geohashPunkt1);
                const coordPunkt2 = decodeGeohash(geohashPunkt2);
                console.log(coordPunkt1);
                console.log(coordPunkt2);

                const bounds = L.latLngBounds([coordPunkt1.lat, coordPunkt1.lon], [coordPunkt2.lat, coordPunkt2.lon]);
                const map = L.map('map').fitBounds(bounds.pad(0.1));
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: ' OpenStreetMap contributors'
                }).addTo(map);

                const markerPunkt1 = L.circle([coordPunkt1.lat, coordPunkt1.lon], {radius: coordPunkt1.rad*1000}).addTo(map);
                const popupPunkt1 = L.popup().setLatLng([coordPunkt1.lat, coordPunkt1.lon]).setContent("Rider: " + geohashPunkt1);
                markerPunkt1.bindPopup(popupPunkt1).openPopup();

                
                const markerPunkt2 = L.circle([coordPunkt2.lat, coordPunkt2.lon], {radius: coordPunkt2.rad*1000}).addTo(map);
                const popupPunkt2 = L.popup().setLatLng([coordPunkt2.lat, coordPunkt2.lon]).setContent("Destination: " + geohashPunkt2);
                markerPunkt2.bindPopup(popupPunkt2);

                const polyline = L.polyline([[coordPunkt1.lat, coordPunkt1.lon], [coordPunkt2.lat, coordPunkt2.lon]], {
                    color: 'red',
                    weight: 3,
                    opacity: 0.5,
                    lineCap: 'round',
                    lineJoin: 'round',
                    dashArray: [20, 10],
                    dashOffset: 20
                }).addTo(map);

                L.polylineDecorator(polyline, {
                patterns: [
                    {offset: '0%', repeat: 75, symbol: L.Symbol.arrowHead({pixelSize: 20, pathOptions: {fillOpacity: 0.75, weight: 0}})}
                ]
                }).addTo(map);
                infoBox.innerHTML 
                            = "<table >"
                                + "<tr>"
                                    + "<td style='text-align: right;'><strong>Ride request</strong></td>"
                                + "</tr>"
                                + "<tr>"
                                    + "<td style='text-align: right;'><strong>Suggested Price:</strong></td>"
                                    + "<td>" + topic.SuggestedPrice + " " + (topic.Currency=="BTC"?"Satoshis (paid in Bitcoin)":topic.Currency)+"</td>"
                                + "</tr>"
                                + "<tr>"
                                    + "<td style='text-align: right;'><strong>Pickup:</strong></td>"
                                    + "<td>" + timeConverter(topic.RideShare.PickupBefore.Value) +"</td>"
                                + "</tr>"
                            + "</table>";
            }
            else if(topic.hasOwnProperty('BlockDelivery'))
            {
                const coordPunkt1 = {lat:topic.BlockDelivery.FromLocation.Latitude,lon:topic.BlockDelivery.FromLocation.Longitude};
                const coordPunkt2 = {lat:topic.BlockDelivery.ToShape.Circle.Center.Latitude,lon:topic.BlockDelivery.ToShape.Circle.Center.Longitude,rad:topic.BlockDelivery.ToShape.Circle.Radius};
                console.log(coordPunkt1);
                console.log(coordPunkt2);

                const bounds = L.latLngBounds([coordPunkt1.lat, coordPunkt1.lon], [coordPunkt2.lat, coordPunkt2.lon]);
                const map = L.map('map').fitBounds(bounds.pad(0.1));
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: ' OpenStreetMap contributors'
                }).addTo(map);

                const markerPunkt1 = L.circle([coordPunkt1.lat, coordPunkt1.lon], {radius: 100}).addTo(map);
                const popupPunkt1 = L.popup().setLatLng([coordPunkt1.lat, coordPunkt1.lon]).setContent("Depot:" + topic.BlockDelivery.SenderName);
                markerPunkt1.bindPopup(popupPunkt1).openPopup();

                const markerPunkt2 = L.circle([coordPunkt2.lat, coordPunkt2.lon], {radius: coordPunkt2.rad}).addTo(map);
                const popupPunkt2 = L.popup().setLatLng([coordPunkt2.lat, coordPunkt2.lon]).setContent("Destination: " + topic.BlockDelivery.BlockDescription);
                markerPunkt2.bindPopup(popupPunkt2);

                const polyline = L.polyline([[coordPunkt1.lat, coordPunkt1.lon], [coordPunkt2.lat, coordPunkt2.lon]], {
                    color: 'red',
                    weight: 3,
                    opacity: 0.5,
                    lineCap: 'round',
                    lineJoin: 'round',
                    dashArray: [20, 10],
                    dashOffset: 20
                }).addTo(map);

                L.polylineDecorator(polyline, {
                patterns: [
                    {offset: '0%', repeat: 75, symbol: L.Symbol.arrowHead({pixelSize: 20, pathOptions: {fillOpacity: 0.75, weight: 0}})}
                ]
                }).addTo(map);
                infoBox.innerHTML 
                            = "<table >"
                                + "<tr>"
                                    + "<td style='text-align: right;'><strong>Packages Delivery<br/> From:</strong></td>"
                                    + "<td>" + topic.BlockDelivery.SenderName +"</td>"
                                + "</tr>"
                                + "<tr>"
                                    + "<td style='text-align: right;'><strong>Description:</strong></td>"
                                    + "<td>" + topic.BlockDelivery.BlockDescription +"</td>"
                                + "</tr>"
                                + "<tr>"
                                    + "<td style='text-align: right;'><strong>Suggested Price:</strong></td>"
                                    + "<td>" + topic.SuggestedPrice + " " + (topic.Currency=="BTC"?"Satoshis (paid in Bitcoin)":topic.Currency)+"</td>"
                                + "</tr>"
                                + "<tr>"
                                    + "<td style='text-align: right;'><strong>Pickup:</strong></td>"
                                    + "<td>" + timeConverter(topic.BlockDelivery.PickupBefore.Value) +"</td>"
                                + "</tr>"
                                + "<tr>"
                                    + "<td style='text-align: right;'><strong>Finish:</strong></td>"
                                    + "<td>" + timeConverter(topic.BlockDelivery.FinishBefore.Value) +"</td>"
                                + "</tr>"
                            + "</table>";
            }
          })
          .catch(error => {
            console.error('Error fetching the data:', error);
          });

    function decodeGeohash(geohash) {
        const decoded = GeoHash.decodeGeoHash(geohash);
        const latCenter = (decoded.latitude[0] + decoded.latitude[1]) / 2;
        const lonCenter = (decoded.longitude[0] + decoded.longitude[1]) / 2;

        const heightKm = distanceInKm(decoded.latitude[0], lonCenter, decoded.latitude[1], lonCenter);
        const widthKm = distanceInKm(latCenter, decoded.longitude[1], latCenter, decoded.longitude[1]);

        const rad = Math.max(decoded.latitude[1] - decoded.latitude[0], decoded.longitude[1] - decoded.longitude[0]) / 2;
        return { lat: latCenter, lon: lonCenter, rad: (heightKm+widthKm)/2 };
    }

    function deg2rad(deg) {
        return deg * (Math.PI / 180);
    }

    /**
     * Returns distance in kilometers between two lat/lon points
     * using the Haversine formula.
     */
    function distanceInKm(lat1, lon1, lat2, lon2) {
        const R = 6371; // Radius of the Earth in km
        const dLat = deg2rad(lat2 - lat1);
        const dLon = deg2rad(lon2 - lon1);

        const a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
                    Math.sin(dLon / 2) * Math.sin(dLon / 2);

        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        return R * c;
    }

    function timeConverter(UNIX_timestamp){
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
        return time;
    }
    
</script>
</body>
</html>
